
.main{
  height: 550px;
  width: 100%;
  box-shadow: 0px 0px 5px 0px;
  display: flex;
  margin-top: 50px;
}



.login_button button{
  border-radius:20px;
  background-color:#3ab397;
  border:white solid 1px;

}


@media  (max-width: 980px)  {
  .sing_text{
    display:none
  }
 .login_text{
   margin-top:80px;
   display:none;
 }
 .friend{
   margin-top:10px;
 }
 .login_button{
   display: flex;
   justify-content:space-around;
 }
.login_button .blok{
  display:block;
}
}

.blok{
  display:none;
}

.friend{
  margin-top:80px;
  color:white;
}

.text_personal p{
color:aliceblue;

}
.sing_up button{
  border:white solid 1px;
  border-radius: 20px;
  background-color: #3ab397;
  
}

.sing_text{
  background-color: #3ab397;
 height:550px;
}
.login_text{
  background-color: #3ab397;
 height:550px;

}
.Sing{
  height:550px;
  width: 100%;
  box-shadow: 0px 0px 5px 0px;
}
.text-green{ 
  color:#10b68f;
}
.or{
  color: #3ab397;
}